bitsandbytes==0.41.1
transformers==4.40.0
peft @ git+https://github.com/huggingface/peft.git
accelerate @ git+https://github.com/huggingface/accelerate.git
einops==0.6.1
evaluate==0.4.0
scikit-learn==1.2.2
scipy==1.11.1
sentencepiece==0.1.99
wandb==0.15.3
dash==2.11.1
bert_score

jupyter-dash==0.4.2

dash-bootstrap-components==1.2.1

dash-table-experiments==0.6.0

pymongo==4.3.2

lxml==4.9.1

plotly-express==0.4.1

huggingface_hub==0.16.4

numpy==1.25.2

pandas==2.0.3
#triton==2.0.0.post1