bitsandbytes
wandb
transformers @ git+https://github.com/huggingface/transformers
datasets
trl @ git+https://github.com/huggingface/trl
peft @ git+https://github.com/huggingface/peft.git
accelerate @ git+https://github.com/huggingface/accelerate.git
torch
einops==0.6.1
evaluate
scikit-learn==1.2.2
scipy==1.11.1
sentencepiece==0.1.99
dash==2.11.1
bert_score

jupyter-dash==0.4.2

dash-bootstrap-components==1.2.1

dash-table-experiments==0.6.0

pymongo==4.3.2

lxml==4.9.1

plotly-express==0.4.1

huggingface_hub

numpy==1.25.2

pandas==2.0.3
#triton==2.0.0.post1